<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <div class="flex">
      <%- include("../partials/aside") %>
      <section class="flex-1">
        <main class="warehouse">
          <section class="main-container">
            <header class="section-header">
                <h1><%= warehouse.name %></h1>
                <h2><%= warehouse.location %></h2>
            </header>
            <%- include("../partials/messages", { errors: [] }) %>
            <section>
              <h3 class="category">Announcements</h3>
              <% if (announcements.length > 0) { %>
                <% announcements.forEach(announcement => { %>
                  <%- include("../announcements/announcementCard", { announcement }) %>
                <% }) %>
              <% } else { %>
                <p class="none-message">No announcements</p>
              <% } %>
              <% if (currentUser) { %>
                <button id="open-create-announcement-form" class="concealable-button">
                  <span class="add-icon">
                    <svg width="13" height="13">
                      <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="#C2650A"
                        fill-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span>Announcement</span>
                </button>
                <%- include("../announcements/createAnnouncementForm", { warehouse: warehouse._id, user: currentUser._id }) %>
              <% } else { %>
                <div class="m-bottom-30"></div>
              <% } %>
            </section>
            <% if (inventory.length > 0) { %>
              <section>
                <h3 class="category">Inventory</h3>
                <% inventory.forEach(product => { %>
                  <%- include("../products/productCard", { product }) %>
                <% }) %>
              </section>
            <% } %>
            <% if (brandPackaging.length > 0) { %>
              <section>
                <h3 class="category m-top-20">Brand Packaging</h3>
                <% brandPackaging.forEach(product=> { %>
                  <%- include("../products/productCard", { product }) %>
                <% }) %>
              </section>
            <% } %>
            <% if (ohiPackaging.length > 0) { %>
              <section>
                <h3 class="category m-top-20">Ohi Packaging</h3>
                <% ohiPackaging.forEach(product=> { %>
                  <%- include("../products/productCard", { product }) %>
                <% }) %>
              </section>
            <% } %>
            <% if (currentUser) { %>
              <button id="open-create-product-form" class="concealable-button">
                <span class="add-icon">
                  <svg width="13" height="13">
                    <path d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z" fill="#C2650A"
                      fill-rule="evenodd"></path>
                  </svg>
                </span>
                <span>Product</span>
              </button>
              <%- include("../products/createProductForm", { warehouse: warehouse._id }) %>
            <% } %>
          </section>
        </main>
      </section>
    </div>
    <script src="/javascripts/product.js"></script>
    <script src="/javascripts/announcement.js"></script>
  </body>
</html>